#header {
	background-image: url("../images/schools.jpg");
    opacity: 0.9;
	background-size: 100% 100%;
	padding: 180px;
}

#content {
	background: #fff;
	padding: 100px;
}

h1{
    text-align:center;
    list-style-type: none;
    margin-bottom: 50px;
    color: #1f7a7a;
}

ul {
	text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a:link, a:visited {
    background-color: #9ccccc;
    color: white;
    font-size: 25px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

a:hover, a:active {
    background-color: #1f7a7a;
}

#delete:hover, #delete:active {
background-color: #1f7a7a;
}

#update:hover, #update:active {
background-color: #1f7a7a;
}

#backBtn, #saveBtn {
    background-color: #9ccccc;
    font-size: 20px;
    color: white;
    display: inline-block;
    padding: 7px 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    position: static;
}

p {
    font-size: 25px;
 }

td {
font-size: 25px;

}

th{
    font-size: 30px;
    color: #1f7a7a;
}

input, select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 25px;
}

#footer {
    color: white;
	background:	#7fad42;
	padding: 5px;
	text-align: right;
}